<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Editar usuario: {{ object }}</h2>
        </div>
        <form action="{%url 'usuarios:editar_usuarios' object.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <a href="{% url 'usuarios:listar_usuarios'%}" button class="btn btn-danger" type="button" data-dismiss = "modal">Cancelar</a></button>
                <button class="btn btn-dark" type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</div>