{% extends 'home.html' %}
{% block titulo %}
    Listado de autorizaciones de Cardiología
{% endblock titulo %}
{% block barra %}
{% endblock barra %}



{% block body %}

&nbsp
<div><button style="margin-left: 10px" class="btn btn-outline-dark" type="button" onclick="abrir_modal__creacion('{% url 'modelo:crear__cardiologo'%}')">Crear nueva autorización</button>
&nbsp             

<div class="container">
    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <form method="get">
          {% csrf_token %}
              <div id ="custom-search-input">
              <div class="input-group">
                  <div class="input-group-append">
                 <div>
              </div>
              </div>
        </form>
    </div>
</div>
</div>
    {% if cardiologos %}
    <table id="lista_cardiologia" class="thead-dark" style= "width: 75%, " >
        <thead class="thead-dark">
            <th scope="col">Nombre del paciente</th>
            <th scope="col">Código del paciente</th>
            <th scope="col">DNI</th>
            <th scope="col">Usuario</th>
            <th scope="col">Autorización</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </thead>
        <tbody>
            {% for cardiologo in cardiologos %}
            <tr>
                <td scope="row">{{cardiologo.paciente.nombre_paciente}}</td>
                <td>{{cardiologo.paciente.id}}</td>
                <td>{{cardiologo.paciente.dni_paciente}}</td>
                <td>{{user.username}}</td>
                <td>{{cardiologo.estado_cardiologo}}</td>
                <td>
                    <button class="btn btn-dark" type="button" onclick="abrir_modal_edicion('{% url 'modelo:editar_cardiologo' cardiologo.id %}')">Editar</a>
                </td>
                <td>
                    <a href="{% url 'modelo:eliminar_cardiologo' cardiologo.id %}" button class="btn btn-danger" type="button" data-dismiss = "modal">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>No existen autorizaciones de Cardiología registradas</h2>
    {% endif %}


    <div class="modal fade" id="creacion" role="dialog"> 
    </div>
    <div class="modal fade" id="creacion_" role="dialog"> 
    </div>
    <div class="modal fade" id="edicion" role="dialog"> 
    </div>
    <div class="modal fade" id="buscarcardiologo" role="dialog"> 
    </div>

    {% endblock body %}

    {%block extrajs %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/af-2.3.7/b-2.2.2/date-1.1.2/fc-4.0.2/r-2.2.9/datatables.min.js"></script>
        <script>
            var $ = jQuery.noConflict();
            $(document).ready(function(){
                        $('#lista_cardiologia').DataTable({
                            language: {
                                    decimal: "",
                                    emptyTable: "No hay información",
                                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                    infoEmpty: "Mostrando 0 to 0 of 0 Entradas",
                                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                                    infoPostFix: "",
                                    thousands: ",",
                                    lengthMenu: "Mostrar _MENU_ Entradas",
                                    loadingRecords: "Cargando...",
                                    processing: "Procesando...",
                                    search: "Buscar:",
                                    zeroRecords: "Sin resultados encontrados",
                                    paginate: {
                                    first: "Primero",
                                    last: "Ultimo",
                                    next: "Siguiente",
                                    previous: "Anterior",
                                    }
                                },
                            lengthMenu: [[10,50,100],[10,50,100]],

                    })
            })

        </script>
        <script type="text/javascript">
            var $ = jQuery.noConflict();
            function abrir_modal_edicion(url){
            $('#edicion').load(url, function(){
                $(this).modal('show');
            });
            }
            function abrir_modal_creacion(url){
            $('#creacion').load(url, function(){
                $(this).modal('show');
            });
            }
            function abrir_modal_buscarcardiologo(url){
            $('#buscarpaciente').load(url, function(){
                $(this).modal('show');
            });
            }
            function abrir_modal__creacion(url){
            $('#creacion_').load(url, function(){
                $(this).modal('show');
            });
            }
            </script>
    {%endblock extrajs %}